@(players: List[Player])

@import helper._

@main("MySelector Page") {
	<div id="team-list" style="float:left;margin-left:200px;border-style: solid;border-width:8px;">
    <h2>Your team</h2>
    
	</div>
	
    <div id="player-list" style="float:right;margin-right:200px;border-style: solid;border-width:2px;">
    <h1>@players.size() player(s) in inventory</h1>
    
    <ul>
        @for(player <- players) {
            <li>
                @player.name -- @player
            </li>
        }
    </ul>
	</div>
    
}