@(team: Team, teamEditableCSS: String, typeOptions: Map[String,String], teamForm: Form[Team], teamPlayers: List[Player], players: List[Player])

@import helper._
@import helper.twitterBootstrap._
@import models.Team



@main("Cricket Team Selector") {
	
	<div class="container">
	<div id="page-wrapper">
	<div class="jumbotron">
                <h1>8players</h1>
                <h4>8players application allows you to indulge in creating a cricket team that you want. </h4>
                <h5>Contact : <a href="mailto:gourab5139014@@gmail.com" target="">gourab5139014 at gmail dot com</a></h5>
    </div>
	<div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                     @flash.get("welcome") @flash.get("success") @flash.get("error")
    </div>
	<div id="team-config" @if(teamEditableCSS == "inherit") {style="display: none"} else {style="display: inherit"}>
	@form(routes.Application.save(),'id -> "teamForm", 'class -> "form-inline") { 
    <fieldset>
        <legend>@teamForm("teamName").valueOr("Team Configuration")</legend>
        @helper.inputText(teamForm("userName"), '_label -> "Your name", 'class -> "form-group") 
		@helper.inputText(teamForm("teamName"),'_label -> "Team name", 'class -> "form-group") 
		@select( teamForm("teamTypeSelector"), options = options(typeOptions), '_label -> "Team Type", 'class -> "form-group", '_showConstraints -> false )
    </fieldset>
    <center>
                        <button type="submit" class="btn btn-primary">Create Team</button>
    </center>
    }
    </div>
</div>

<div class="row" style="display: @teamEditableCSS">
	@form(routes.Application.reset(),'id -> "teamForm", 'class -> "form-inline") { 
                <center><button type="submit" class="btn btn-danger" style="margin-top: 20px">Reset Team</button></center>
	}
<div id="team-list" class="col-sm-6 col-sm-offset-1 text-center" style="background-color:lavender;">
    <h1>@teamPlayers.size() player(s) in @team.getTeamName()</h1>
    <h2>Player listing</h2>
    <h3>$ @team.getRemainingMoney() remaining out of @team.getAllocatedMoney()</h3>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <td>Serial No.</td>
                <td>Player Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @for(player
            <- teamPlayers) { <tr>
                <td>@player.getId()</td>
                <td>@player.getName()</td>
                <td>@player.getPrice()</td>
                <td>@player.getPlayerType()</td>
                <td style="display: @teamEditableCSS"><a href="@routes.Application.deletePlayer(player.id)">Delete</a>
                </td>
                </tr>
                }
        </tbody>
    </table>
</div>

<div id="player-list" class="col-sm-7 col-sm-offset-3 text-center" style="background-color:lavenderblush;">
    <h1>@players.size() player(s) in inventory</h1>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <td>Serial No.</td>
                <td>Player Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @for(player
            <- players) { <tr>
                <td>@player.getId()</td>
                <td>@player.getName()</td>
                <td>@player.getPrice()</td>
                <td>@player.getPlayerType()</td>
                <td style="display: @teamEditableCSS"><a href="@routes.Application.addPlayer(player.id)">Add</a>
                </td>
                </tr>
                }
        </tbody>
    </table>
</div>
	</div>
	</div>
	</div>
}

